@import "./variables";

@mixin button-style($active-color) {
  &:active:not(.md-button) {
    background-color: darken($active-color, 10%);
    &.button-clear {
      background-color: transparent;
      color: darken($active-color, 10%);
    }
  }
}

.button-assertive {
  @include button-style($assertive);
}

.button-positive {
  @include button-style($positive);
}

.button-balanced {
  @include button-style($balanced);
}

.button-energized {
  @include button-style($energized);
}

.button-calm {
  @include button-style($calm);
}

.button-royal {
  @include button-style($royal);
}

.button-light {
  @include button-style($light);
}

.button-dark {
  @include button-style($dark);
}

.button-stable {
  @include button-style($stable);
}

.button-outline {
  &:active {
    color: #FFF !important;
  }
}

// Fab Button
.button-fab {
  min-width: 44px !important;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 1px 0 0 0;
}
