@import "variables";
$view-box-shadow: -4px 0 8px darken($default-page-bg, 6.5%);

.page {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $default-page-bg;
  overflow: hidden;

  &.has-navbar {
    .page-content {
      padding-top: $header-height;
    }

    &.padding-top {
      padding-top: $header-height + 10px;
    }
  }
}

/* page content */
.page .page-content,
.modal .page-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: auto;
  height: auto;

  padding-top: 44px;
  background-color: $default-page-bg;

  &.padding-top {
    padding-top: 54px;
  }

  &.non-scrollable {
    overflow: hidden;
  }
}
