html, body {
  height: 100%;
  background-color: $default-page-bg;
}

app {
  height: 100%;
}

// fix fastclick bug: https://github.com/ftlabs/fastclick/issues/60
label > * {
  pointer-events: none;
}

.backdrop {
  background-color: rgba(0,0,0,0.3);
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}

// Safari input placeholder margin issue
.grade-a input::-webkit-input-placeholder {
  line-height: 20px;
}

// iOS 系统字体
body {
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;

  &.grade-a[font="light"]
  {
    font-family: '-apple-system', "HelveticaNeue-Light", "Roboto-Light", "Segoe UI-Light", sans-serif-light;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: 300;
  }

  &.grade-a[font="pingfang"] {
    font-family: ".Helvetica", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: 100;
  }
}

@font-face {
  font-family: ".Helvetica";
  src: local("Helvetica");
}

// button
.button {
  min-height: 44px;
  &.button-small {
    min-height: 30px;
  }
}

// bar box-shadow
.bar, .bar.bar-header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
