html, body {
  height: 100%;
  background-color: $default-page-bg;
}

app {
  height: 100%;
}

// fix fastclick bug: https://github.com/ftlabs/fastclick/issues/60
label > * {
  pointer-events: none;
}
