html, body {
  height: 100%;
  background-color: $default-page-bg;
}

app {
  height: 100%;
}

// fix fastclick bug: https://github.com/ftlabs/fastclick/issues/60
label > * {
  pointer-events: none;
}

body {
  font-family: sans-serif !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  font-weight: 100;
}

@font-face {
  font-family: sans-serif;
  src: local("Helvetica");
}
