//$light:                           #fff !default;
//$stable:                          #f8f8f8 !default;
//$positive:                        #387ef5 !default;
//$calm:                            #11c1f3 !default;
//$balanced:                        #33cd5f !default;
//$energized:                       #ffc900 !default;
//$assertive:                       #ef473a !default;
//$royal:                           #886aea !default;
//$dark:                            #444 !default;

$light:                           #fff !default;
$stable:                          #f5f5f5 !default;
$positive:                        #4a90e2 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #44cc00 !default;
$energized:                       #ffbd17 !default;
$assertive:                       #ea5a49 !default;
$royal:                           #b5b5b5 !default;
$dark:                            #484746 !default;

$padding:                         10px;

/* Page */
$default-page-bg:                 #f5f5f5;

/* Header */
$header-height:                   44px;

/* Thin Border */
$default-border-color:            #ddd;

$ios-transition-duration:              500ms !default;
$ios-transition-timing-function:       cubic-bezier(.36, .66, .04, 1) !default;

$android-transition-duration:          200ms !default;
$android-transition-timing-function:   cubic-bezier(0.4, 0.6, 0.2, 1) !default;

$font-stack: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
