@import "variables";
@import "mixins";

@mixin view-right() {
  z-index: 2;
  opacity: 1;
  @include translate3d(100%, 0, 0);
}

@mixin view-left() {
  z-index: 1;
  opacity: 0.8;
  @include translate3d(-33%, 0, 0);
}

.view,
.grade-a .view {
  @include transition-duration($ios-transition-duration);
  @include transition-timing-function($ios-transition-timing-function);
  -webkit-transition-property: opacity, -webkit-transform, box-shadow;
  transition-property: opacity, transform, box-shadow;

  @include translate3d(0,0,0);
  z-index: 1;
  opacity: 1;

  &.view-enter {
    @include view-right();
  }

  &.view-leave {
    @include view-left();
  }
}

// android
.grade-b .view {
  @include transition-duration($android-transition-duration);
  @include transition-timing-function($android-transition-timing-function);
}

[transition-direction="forward"] {
  .view {
    &.view-enter {
      @include view-right();
    }

    &.view-leave {
      @include view-left();
    }
  }
}

[transition-direction="back"] {
  .view {
    &.view-enter {
      @include view-left();
    }

    &.view-leave {
      @include view-right();
    }
  }
}
