.cells {
  margin: 10px 0;
  position: relative;
  background-color: #FFF;
  .row {
    position: relative;
    margin: 0;
    padding: 0;
    .col {
      margin: 0;
      padding: 0;
      position: relative;
      text-align: center;
    }
  }
}
