[von-datepicker] {
  height: 50px;
  input[type=datetime] {
    position: absolute;
    top: -50000px;
    left: -50000px;
  }
}

[von-picker], .von-datepicker {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
  background-color: #f5f5f5;
  z-index: 12;
  box-sizing: border-box;

  transition: transform .2s ease-in-out;
  -webkit-transition: -webkit-transform .2s ease-in-out;

  transform: translate(0, 100%);
  -webkit-transform: translate(0, 100%);

  &.active {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    transition: transform .3s cubic-bezier(0.4, 0, 0, 1);
    -webkit-transition: -webkit-transform .3s cubic-bezier(0.4, 0, 0, 1);
  }

  .dp-header {
    height: 45px;
    padding: 0px;
    background: #fff;
    z-index: 2;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);

    .btn-confirm {
      position: absolute;
      right: 0;
    }
  }

  .dp-body {
    height: 34px*7;
    padding: 0;
    position: relative;
    z-index: 1;

    .dp-list {
      height: 100%;
      width: 33%;
      background: #f5f5f5;

      &.dp-years {
        width: 34%;
      }

      &.dp-months {
        left: 34%;
      }

      &.dp-dates {
        left: 67%;
      }

      .dp-item {
        height: 34px;
        font-size: 16px;
        line-height: 16px;
        padding: 9px 0;
        text-align: center;
        opacity: .2;
      }
    }
  }
}
