.von-input-wrapper {
  position: relative;

  &.has-floating-label {
    .input-clear {
      top: 14px + 28px;
    }
  }

  .von-input {
    height: 50px;
    padding: 13px 15px;
    position: relative;

    .input-label {
      font-size: 14px;
      line-height: 20px;
    }

    input {
      font-size: 14px;
    }

  }

  .input-clear {
    position: absolute;
    top: 14px;
    right: 9px;
    z-index: 3;

    width: 24px;
    height: 24px;
    background-image: url(../assets/clear@3x.png);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: 5px 5px;

    visibility: hidden;
    &.active {
      visibility: visible;
    }
  }

  .item-floating-label {
    height: 75px;
    background: #FFF;
    .input-label {
      padding-top: 2px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
    }
  }
}
