// reset item style
.item {
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 14px;
  line-height: 14px;
  color: #444;
  min-height: 50px;

  &.item-divider {
    padding: 18px 16px;
    border: none;
    margin-top: 1px;
  }

  &.item-icon-left, &.item-icon-right {
    .icon {
      font-size: 24px;
    }
  }

  &.item-icon-right {
    .item-note {
      margin-right: -16px;
    }

    .icon.ion-ios-arrow-right {
      color: #DDD;
      right: 5px;
      height: 48px;
    }
  }
}

.grade-a {
  .item {
    padding-top: 17px;
    padding-bottom: 18px;

    &.item-divider {
      padding: 17px 16px 18px 16px;
    }
  }
}

.list-ios {
  padding-top: 2px !important;
  padding-left: 16px;
  background: #FFF;
}

.item-ios,
.list-ios > .item,
{
  padding-left: 0;

  &.item-avatar {
    min-height: 80px;
    padding: 18px 16px 18px 58px;

    img:first-of-type {
      top: 16px;
      left: 0;
      min-width: 48px;
      min-height: 48px;
    }

    .title {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 6px;
    }

    .item-note {
      float: left;
    }
  }
}

.grade-a {
  .item-ios, .list-ios > .item {
    &.item-avatar {
      padding: 17px 16px 18px 58px;
    }
  }
}

.item.thin, .item[thin] {
  min-height: 36px;
  padding-top: 11px;
  padding-bottom: 11px;
}
