.hl-list {
  &.hl-list-borderless, &.list-ios {
    .hl-item {
      &:first-of-type {
        .hairline-top:before {
          visibility: hidden;
        }
      }

      &:last-of-type {
        .hairline-bottom:after {
          visibility: hidden;
        }
      }
    }
  }
}

.hl-item {
  &.hl-item-borderless {
    .hairline-top:before,
    .hairline-bottom:after
    {
      visibility: hidden;
    }
  }

  &.hl-item-borderless-top {
    .hairline-top:before {
      visibility: hidden;
    }
  }

  &.hl-item-borderless-bottom {
    .hairline-bottom:after {
      visibility: hidden;
    }
  }
}
