.loading-container {
  .loading {
    padding: 15px;
    background-color: rgba(0,0,0,0.8);
  }

  .spinner svg {
    width: 28px;
    height: 28px;
    stroke: #FFF;
    fill: #FFF;
  }

  .tips {
    font-size: 14px;
    line-height: 14px;
  }
}
