.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .swiper-item {
    height: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    float: left;
  }
}

.swiper-pagination {
  width: 100%;
  height: 20px;
  left: 0;
  margin-top: -20px;
  line-height: 16px;

  .circle {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 4px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
